.black{
background: #000;
}
.red{
    background: #f00;
}
#blue{ 
    
background: url(https://msp.c.yimg.jp/yjimage?q=Hj8EyWQXyLFSoVGI0y.Id52UsCzHSjktA2DkHllj6gVIQX.6_UdYZu76ShecBunUJpONb.PWQUPWj.tNmjNHngwwg_fx4XGJtJpnb1pnsC_EdkB.hJOKSSJJ494241gmb.p7bHmBedkJYIBXS.48&sig=13a1nds72&x=300&y=162)

}
.a1{background: chartreuse}